{% extends "index.html" %}

{% block content %}
<div class="welcome-page">
    <h1 class="welcome-title">Benvenuto su StudyFlow!</h1>
    <p class="welcome-subtitle">Il tuo piano di studio intelligente 🎓📚</p>
    <p class="welcome-description">
        Scopri subito il tuo piano di studio! Monitora i progressi dei tuoi esami con grafici chiari e colorati, resta motivato grazie a messaggi e animazioni coinvolgenti, e organizza le tue sessioni di studio in modo semplice ed efficace.
    </p>
</div>

{% endblock %}
